.DS_Store
back/node_modules/
back/dist/
front/node_modules/
front/dist/
front/server/
front/package-lock.json
back/package-lock.json
front/web/
front/web/index.html
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
